In [1]:
import pandas as pd

In [6]:
hero_dc=pd.read_excel('superhero_info.xlsx',sheet_name='DC Comics')
hero_marvel=pd.read_excel('superhero_info.xlsx',sheet_name='Marvel Comics')

In [41]:
hero_powers=pd.read_csv('superhero_powers.csv')

In [7]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [11]:
hero_marvel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        388 non-null    object
 1   Gender      388 non-null    object
 2   Eye color   388 non-null    object
 3   Race        388 non-null    object
 4   Hair color  388 non-null    object
 5   Height      388 non-null    int64
 6   Publisher   388 non-null    object
 7   Alignment   388 non-null    object
 8   Weight      388 non-null    int64
dtypes: int64(2), object(7)
memory usage: 27.4+ KB

In [14]:
hero_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Columns: 168 entries, hero_names to Omniscient
dtypes: bool(167), object(1)
memory usage: 114.1+ KB

In [16]:
hero_powers.shape

(667, 168)

In [43]:
weather=pd.read_csv('weather.csv')

In [44]:
weather

,date,temperature_high,temperature_low,rained,snowed,overcast,comments
0,2021-01-01,4.0,1,1,False,cloudy,happy new year
1,2021-01-02,11.0,2,0,False,sunny,second day
2,2021-01-03,3.0,2,0,False,foggy,third day
3,2021-01-04,6.0,2,0,False,sunny,first business day
4,2021-01-05,4.0,unknown,0,False,cloudy,second business day

In [22]:
weather['temperature_high'].astype('int8')

0     4
1    11
2     3
3     6
4     4
Name: temperature_high, dtype: int8

In [23]:
weather['temperature_high']=weather['temperature_high'].astype('int8')

In [24]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              5 non-null      object
 1   temperature_high  5 non-null      int8
 2   temperature_low   5 non-null      object
 3   rained            5 non-null      int64
 4   snowed            5 non-null      bool
 5   overcast          5 non-null      object
 6   comments          5 non-null      object
dtypes: bool(1), int64(1), int8(1), object(4)
memory usage: 338.0+ bytes

In [20]:
weather['temperature_low'].astype('')

dtype('O')

In [21]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              5 non-null      object
 1   temperature_high  5 non-null      float64
 2   temperature_low   5 non-null      object
 3   rained            5 non-null      int64
 4   snowed            5 non-null      bool
 5   overcast          5 non-null      object
 6   comments          5 non-null      object
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 373.0+ bytes

In [25]:
weather['snowed']

0    False
1    False
2    False
3    False
4    False
Name: snowed, dtype: bool

In [45]:
index_day=['sun','mon', 'tue', 'wed', 'thur']

In [46]:
weather_new=weather.set_index(pd.Index(index_day))

In [47]:
weather_new

,date,temperature_high,temperature_low,rained,snowed,overcast,comments
sun,2021-01-01,4.0,1,1,False,cloudy,happy new year
mon,2021-01-02,11.0,2,0,False,sunny,second day
tue,2021-01-03,3.0,2,0,False,foggy,third day
wed,2021-01-04,6.0,2,0,False,sunny,first business day
thur,2021-01-05,4.0,unknown,0,False,cloudy,second business day

In [48]:
weather

,date,temperature_high,temperature_low,rained,snowed,overcast,comments
0,2021-01-01,4.0,1,1,False,cloudy,happy new year
1,2021-01-02,11.0,2,0,False,sunny,second day
2,2021-01-03,3.0,2,0,False,foggy,third day
3,2021-01-04,6.0,2,0,False,sunny,first business day
4,2021-01-05,4.0,unknown,0,False,cloudy,second business day

## COMBINING DATASETS

In [1]:
import pandas as pd

In [3]:
hero_dc=pd.read_excel('superhero_info.xlsx',sheet_name='DC Comics')
hero_marvel=pd.read_excel('superhero_info.xlsx',sheet_name='Marvel Comics')

In [12]:
hero_dc

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
...,...,...,...,...,...,...,...,...,...
210,Wildfire,Male,-,-,-,-99,DC Comics,good,NaN
211,Wonder Girl,Female,blue,Demi-God,Blond,165,DC Comics,good,51.0
212,Wonder Woman,Female,blue,Amazon,Black,183,DC Comics,good,74.0
213,Zatanna,Female,blue,Human,Black,170,DC Comics,good,57.0
214,Zoom,Male,red,-,Brown,185,DC Comics,bad,81.0

In [11]:
hero_marvel

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203,Marvel Comics,good,441
1,Abomination,Male,green,Human / Radiation,No Hair,203,Marvel Comics,bad,441
2,Abraxas,Male,blue,Cosmic Entity,Black,-99,Marvel Comics,bad,-99
3,Absorbing Man,Male,blue,Human,No Hair,193,Marvel Comics,bad,122
4,Agent 13,Female,blue,-,Blond,173,Marvel Comics,good,61
...,...,...,...,...,...,...,...,...,...
383,X-Man,Male,blue,-,Brown,175,Marvel Comics,good,61
384,Yellow Claw,Male,blue,-,No Hair,188,Marvel Comics,bad,95
385,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83
386,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52
387,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99

In [13]:
215+388

603

In [18]:
hero_new=pd.merge(hero_dc,hero_marvel,how='inner')

In [19]:
hero_new

,name,Gender_x,Eye color_x,Race_x,Hair color_x,Height_x,Publisher_x,Alignment_x,Weight_x,Gender_y,Eye color_y,Race_y,Hair color_y,Height_y,Publisher_y,Alignment_y,Weight_y
0,Atlas,Male,blue,God / Eternal,Brown,198,DC Comics,bad,126.0,Male,brown,Mutant,Red,183,Marvel Comics,good,101
1,Captain Marvel,Male,blue,Human,Black,193,DC Comics,good,101.0,Female,blue,Human-Kree,Blond,180,Marvel Comics,good,74

In [20]:
hero_new.sort_values(by='name')

,name,Gender_x,Eye color_x,Race_x,Hair color_x,Height_x,Publisher_x,Alignment_x,Weight_x,Gender_y,Eye color_y,Race_y,Hair color_y,Height_y,Publisher_y,Alignment_y,Weight_y
0,Atlas,Male,blue,God / Eternal,Brown,198,DC Comics,bad,126.0,Male,brown,Mutant,Red,183,Marvel Comics,good,101
1,Captain Marvel,Male,blue,Human,Black,193,DC Comics,good,101.0,Female,blue,Human-Kree,Blond,180,Marvel Comics,good,74

In [25]:
table1=pd.DataFrame({'a':[1,2,3,4,5], 'b':['m','n','o','p','q']})

In [27]:
dict2={'a':[4,5,6,7,8],
 'x':['s','t','u','v','w']}

In [32]:
table2=pd.DataFrame(dict2, index=['March','Apr','Jun','Jul','Aug'])
table2

       a  x
March  4  s
Apr    5  t
Jun    6  u
Jul    7  v
Aug    8  w

In [31]:
pd.merge(table1,table2,on='a',how='outer')

   a    b    x
0  1    m  NaN
1  2    n  NaN
2  3    o  NaN
3  4    p    s
4  5    q    t
5  6  NaN    u
6  7  NaN    v
7  8  NaN    w

In [33]:
hero_new

,name,Gender_x,Eye color_x,Race_x,Hair color_x,Height_x,Publisher_x,Alignment_x,Weight_x,Gender_y,Eye color_y,Race_y,Hair color_y,Height_y,Publisher_y,Alignment_y,Weight_y
0,Atlas,Male,blue,God / Eternal,Brown,198,DC Comics,bad,126.0,Male,brown,Mutant,Red,183,Marvel Comics,good,101
1,Captain Marvel,Male,blue,Human,Black,193,DC Comics,good,101.0,Female,blue,Human-Kree,Blond,180,Marvel Comics,good,74

In [34]:
del hero_new

In [35]:
hero_new

NameError: name 'hero_new' is not defined

In [42]:
hero_dc.to_pickle('hero_dc.pkl')
hero_marvel.to_pickle('hero_marvel.pkl')
hero_powers.to_pickle('hero_powers.pkl')

In [44]:
hero_dc=pd.read_pickle('hero_dc.pkl')
hero_marvel=pd.read_pickle('hero_marvel.pkl')
hero_powers=pd.read_pickle('hero_powers.pkl')

In [83]:
hero_info=pd.concat([hero_dc,hero_marvel],ignore_index=True)
hero_info

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
...,...,...,...,...,...,...,...,...,...
598,X-Man,Male,blue,-,Brown,175,Marvel Comics,good,61.0
599,Yellow Claw,Male,blue,-,No Hair,188,Marvel Comics,bad,95.0
600,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83.0
601,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52.0
602,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99.0

In [70]:
import numpy as np

In [84]:
hero_info.index=np.arange(1,len(hero_info)+1)
hero_info

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
1,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
2,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
3,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
4,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
5,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
...,...,...,...,...,...,...,...,...,...
599,X-Man,Male,blue,-,Brown,175,Marvel Comics,good,61.0
600,Yellow Claw,Male,blue,-,No Hair,188,Marvel Comics,bad,95.0
601,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83.0
602,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52.0
603,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99.0

In [85]:
hero_info.sort_values(by='name')

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
216,A-Bomb,Male,yellow,Human,No Hair,203,Marvel Comics,good,441.0
1,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
217,Abomination,Male,green,Human / Radiation,No Hair,203,Marvel Comics,bad,441.0
218,Abraxas,Male,blue,Cosmic Entity,Black,-99,Marvel Comics,bad,-99.0
219,Absorbing Man,Male,blue,Human,No Hair,193,Marvel Comics,bad,122.0
...,...,...,...,...,...,...,...,...,...
601,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83.0
602,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52.0
603,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99.0
214,Zatanna,Female,blue,Human,Black,170,DC Comics,good,57.0
215,Zoom,Male,red,-,Brown,185,DC Comics,bad,81.0

In [86]:
hero_info

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
1,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
2,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
3,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
4,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
5,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
...,...,...,...,...,...,...,...,...,...
599,X-Man,Male,blue,-,Brown,175,Marvel Comics,good,61.0
600,Yellow Claw,Male,blue,-,No Hair,188,Marvel Comics,bad,95.0
601,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83.0
602,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52.0
603,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99.0

In [108]:
#hero_dc.head(1)
#hero_marvel.head(1)
#hero_powers.head(1)
hero_info

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
1,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
2,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
3,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
4,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
5,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
...,...,...,...,...,...,...,...,...,...
599,X-Man,Male,blue,-,Brown,175,Marvel Comics,good,61.0
600,Yellow Claw,Male,blue,-,No Hair,188,Marvel Comics,bad,95.0
601,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83.0
602,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52.0
603,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99.0

In [105]:
hero=pd.merge(hero_info,hero_powers,left_on='name',right_on='hero_names',how='left')#'name',right_on='hero_names',how='inner')

In [106]:
hero

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,hero_names,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0,Abin Sur,...,False,False,False,False,False,False,False,False,False,False
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0,Adam Strange,...,False,False,False,False,False,False,False,False,False,False
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0,Alan Scott,...,False,False,False,False,False,False,False,False,False,False
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0,Amazo,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,X-Man,Male,blue,-,Brown,175,Marvel Comics,good,61.0,X-Man,...,False,False,False,False,False,False,False,False,False,False
599,Yellow Claw,Male,blue,-,No Hair,188,Marvel Comics,bad,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83.0,Yellowjacket,...,False,False,False,False,False,False,False,False,False,False
601,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52.0,Yellowjacket II,...,False,False,False,False,False,False,False,False,False,False
602,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99.0,Ymir,...,False,False,False,False,False,False,False,False,False,False

In [93]:
hero.shape

(537, 177)

In [109]:
hero.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 603 entries, 0 to 602
Data columns (total 177 columns):
 #    Column                        Dtype
---   ------                        -----
 0    name                          object
 1    Gender                        object
 2    Eye color                     object
 3    Race                          object
 4    Hair color                    object
 5    Height                        int64
 6    Publisher                     object
 7    Alignment                     object
 8    Weight                        float64
 9    hero_names                    object
 10   Agility                       object
 11   Accelerated Healing           object
 12   Lantern Power Ring            object
 13   Dimensional Awareness         object
 14   Cold Resistance               object
 15   Durability                    object
 16   Stealth                       object
 17   Energy Absorption             object
 18   Flight                        object
 19   Danger Sense                  object
 20   Underwater breathing          object
 21   Marksmanship                  object
 22   Weapons Master                object
 23   Power Augmentation            object
 24   Animal Attributes             object
 25   Longevity                     object
 26   Intelligence                  object
 27   Super Strength                object
 28   Cryokinesis                   object
 29   Telepathy                     object
 30   Energy Armor                  object
 31   Energy Blasts                 object
 32   Duplication                   object
 33   Size Changing                 object
 34   Density Control               object
 35   Stamina                       object
 36   Astral Travel                 object
 37   Audio Control                 object
 38   Dexterity                     object
 39   Omnitrix                      object
 40   Super Speed                   object
 41   Possession                    object
 42   Animal Oriented Powers        object
 43   Weapon-based Powers           object
 44   Electrokinesis                object
 45   Darkforce Manipulation        object
 46   Death Touch                   object
 47   Teleportation                 object
 48   Enhanced Senses               object
 49   Telekinesis                   object
 50   Energy Beams                  object
 51   Magic                         object
 52   Hyperkinesis                  object
 53   Jump                          object
 54   Clairvoyance                  object
 55   Dimensional Travel            object
 56   Power Sense                   object
 57   Shapeshifting                 object
 58   Peak Human Condition          object
 59   Immortality                   object
 60   Camouflage                    object
 61   Element Control               object
 62   Phasing                       object
 63   Astral Projection             object
 64   Electrical Transport          object
 65   Fire Control                  object
 66   Projection                    object
 67   Summoning                     object
 68   Enhanced Memory               object
 69   Reflexes                      object
 70   Invulnerability               object
 71   Energy Constructs             object
 72   Force Fields                  object
 73   Self-Sustenance               object
 74   Anti-Gravity                  object
 75   Empathy                       object
 76   Power Nullifier               object
 77   Radiation Control             object
 78   Psionic Powers                object
 79   Elasticity                    object
 80   Substance Secretion           object
 81   Elemental Transmogrification  object
 82   Technopath/Cyberpath          object
 83   Photographic Reflexes         object
 84   Seismic Power                 object
 85   Animation                     object
 86   Precognition                  object
 87   Mind Control                  object
 88   Fire Resistance               object
 89   Power Absorption              object
 90   Enhanced Hearing              object
 91   Nova Force                    object
 92   Insanity                      object
 93   Hypnokinesis                  object
 94   Animal Control                object
 95   Natural Armor                 object
 96   Intangibility                 object
 97   Enhanced Sight                object
 98   Molecular Manipulation        object
 99   Heat Generation               object
 100  Adaptation                    object
 101  Gliding                       object
 102  Power Suit                    object
 103  Mind Blast                    object
 104  Probability Manipulation      object
 105  Gravity Control               object
 106  Regeneration                  object
 107  Light Control                 object
 108  Echolocation                  object
 109  Levitation                    object
 110  Toxin and Disease Control     object
 111  Banish                        object
 112  Energy Manipulation           object
 113  Heat Resistance               object
 114  Natural Weapons               object
 115  Time Travel                   object
 116  Enhanced Smell                object
 117  Illusions                     object
 118  Thirstokinesis                object
 119  Hair Manipulation             object
 120  Illumination                  object
 121  Omnipotent                    object
 122  Cloaking                      object
 123  Changing Armor                object
 124  Power Cosmic                  object
 125  Biokinesis                    object
 126  Water Control                 object
 127  Radiation Immunity            object
 128  Vision - Telescopic           object
 129  Toxin and Disease Resistance  object
 130  Spatial Awareness             object
 131  Energy Resistance             object
 132  Telepathy Resistance          object
 133  Molecular Combustion          object
 134  Omnilingualism                object
 135  Portal Creation               object
 136  Magnetism                     object
 137  Mind Control Resistance       object
 138  Plant Control                 object
 139  Sonar                         object
 140  Sonic Scream                  object
 141  Time Manipulation             object
 142  Enhanced Touch                object
 143  Magic Resistance              object
 144  Invisibility                  object
 145  Sub-Mariner                   object
 146  Radiation Absorption          object
 147  Intuitive aptitude            object
 148  Vision - Microscopic          object
 149  Melting                       object
 150  Wind Control                  object
 151  Super Breath                  object
 152  Wallcrawling                  object
 153  Vision - Night                object
 154  Vision - Infrared             object
 155  Grim Reaping                  object
 156  Matter Absorption             object
 157  The Force                     object
 158  Resurrection                  object
 159  Terrakinesis                  object
 160  Vision - Heat                 object
 161  Vitakinesis                   object
 162  Radar Sense                   object
 163  Qwardian Power Ring           object
 164  Weather Control               object
 165  Vision - X-Ray                object
 166  Vision - Thermal              object
 167  Web Creation                  object
 168  Reality Warping               object
 169  Odin Force                    object
 170  Symbiote Costume              object
 171  Speed Force                   object
 172  Phoenix Force                 object
 173  Molecular Dissipation         object
 174  Vision - Cryo                 object
 175  Omnipresent                   object
 176  Omniscient                    object
dtypes: float64(1), int64(1), object(175)
memory usage: 838.5+ KB